<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>controller.HomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserVerify</servlet-name>
        <servlet-class>controller.UserVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCode</servlet-name>
        <servlet-class>GoogleLogin.CheckCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>controller.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <servlet-class>GoogleLogin.GoogleLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsServlet</servlet-name>
        <servlet-class>controller.NewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>controller.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <servlet-class>controller.ProductDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>controller.UserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailServlet</servlet-name>
        <servlet-class>controller.UserDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingListServlet</servlet-name>
        <servlet-class>controller.SettingListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingDetailServlet</servlet-name>
        <servlet-class>controller.SettingDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProductsServlet</servlet-name>
        <servlet-class>controller.LoadProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadListProductsServlet</servlet-name>
        <servlet-class>controller.LoadListProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAvailableSizesServlet</servlet-name>
        <servlet-class>controller.GetAvailableSizesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetColorOfProduct</servlet-name>
        <servlet-class>controller.GetColorOfProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckToken</servlet-name>
        <servlet-class>controller.CheckToken</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewsServlet</servlet-name>
        <url-pattern>/NewsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewsManagerServlet</servlet-name>
        <servlet-class>controller.NewsManagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewsManagerServlet</servlet-name>
        <url-pattern>/NewsManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserVerify</servlet-name>
        <url-pattern>/UserVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCode</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/resetpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <url-pattern>/gglogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/productlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <url-pattern>/productdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/userlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailServlet</servlet-name>
        <url-pattern>/userdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingListServlet</servlet-name>
        <url-pattern>/settinglist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingDetailServlet</servlet-name>
        <url-pattern>/settingdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProductsServlet</servlet-name>
        <url-pattern>/LoadProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadListProductsServlet</servlet-name>
        <url-pattern>/LoadListProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAvailableSizesServlet</servlet-name>
        <url-pattern>/GetAvailableSizesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetColorOfProduct</servlet-name>
        <url-pattern>/GetColorOfProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckToken</servlet-name>
        <url-pattern>/CheckToken</url-pattern>
    </servlet-mapping>
</web-app>
